main li:nth-of-type(2) input ~ form#new-todo {
  visibility: hidden;
}

form#new-todo {
  position: absolute;
  top: 107px;
  left: 105px;
  width: 575px;
  height: 400px;
  padding-left: 30px;
  padding-top: 36px;
  padding-right: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  z-index: 3;
}

form#new-todo dl {
  margin: 0;
  margin-bottom: 24px;
}

form#new-todo dt,
form#new-todo dd {
  display: inline-block;
}

form#new-todo dt {
  width: 90px;
  height: 36px;
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
  margin: 0;
  padding-left: 0;
}

form#new-todo label {
  font-weight: 400;
  color: #060606;
  padding: 0;
}

form#new-todo input,
form#new-todo textarea {
  font-size: 16px;
  border: 1px solid #b3b3b3;
}

form#new-todo button {
  width: 182px;
  height: 34px;
  font-size: 16px;
  background: #148fd5;
  color: #ffffff;
  border: 1px solid #148fd5;
  border-radius: 4px;
  margin-right: 18px;
}

form#new-todo textarea {
  font: normal 16px Helvetica, Arial, sans-serif;
  resize: none;
  width: 396px;
  height: 144px;
  padding: 8px;
}

form#new-todo input[id="title"] {
  width: 396px;
  height: 36px;
  padding: 8px;
}

form#new-todo input[id="due-date"] {
  width: 116px;
  height: 36px;
  padding: 8px;
}

form#new-todo span {
  display: inline-block;
  width: 13px;
  text-align: center;
}
