body > label {
  display: none;
  padding-top: 20px;
  padding-left: 30px;
}

body > input[id="panel-toggle"] {
  display: none;
}

body > label {
  cursor: pointer;
}

main {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  color: #050505;
  padding: 60px 100px 0 20px;
}

main h1 span {
  position: relative;
  display: inline-block;
  left: 18px;
  bottom: 2px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background: #148fd5;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

main li {
  width: 100%;
  padding: 16px 0 16px 10px;
  border-top: 1px solid #e7e7e7;
}

main li:first-of-type,
main li:nth-of-type(2) {
  border-style: none;
}

main li:first-of-type {
  padding-top: 8px;
  padding-bottom: 17px;
}

main li label {
  padding-left: 12px;
  cursor: pointer;
}

main li a {
  color: #3498d8;
  padding-left: 15px;
}

main form {
  display: inline-block;
}

main li form:last-of-type {
  float: right;
}

span.mycheckbox {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: transparent url("../images/unchecked-box.png") no-repeat;
}

main input[type="checkbox"]:checked + span.mycheckbox {
  background: transparent url("../images/checked-box.png") no-repeat;
}

main input[type="checkbox"]:checked ~ label {
  color: #cecece;
  text-decoration: line-through;
}

main li + li label:hover {
  color: #3498d8;
}

main li:nth-of-type(2) ~ li button {
  background: transparent url("../images/trash-bin.png") no-repeat;
  border: none;
  width: 17px;
  height: 17px;
  background-position: 50% 50%;
}

main li button span,
main input[type="checkbox"]  {
  display: none;
}

main li:nth-of-type(2) label img {
  padding-right: 8px;
}

main li:nth-of-type(2) label {
  padding-left: 0;
  color: #148fd5;
}

main li:nth-of-type(2) input[type="checkbox"]:checked ~ form#new-todo {
  visibility: visible;
  z-index: 2;
}

main li:nth-of-type(2) input[type="checkbox"]:checked ~ label {
  color: #148fd5;
  text-decoration: none;
}

main li:nth-of-type(2) input[type="checkbox"]:checked + label:after{
  position: fixed;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
