@import url("whitespace-reset.css");
@import url("sidebar.css");
@import url("todo_list.css");
@import url("modal.css");

* {
  box-sizing: border-box;
}

body {
  font: normal 18px Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #b2b5c3;
  max-width: 1200px;
  height: 818px;
  position: relative;
}

body > label {
  display: none;
  position: absolute;
  display: inline-block;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

input[id="hamburger"] {
  display: none;
}

h1 {
  font-size: 21px;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  body {
    min-width: 480px;
  }

  #sidebar {
    display: none;
    width: 250px;
  }

  #sidebar dl {
    padding: 0 15px;
    width: 100%;
  }

  #todo_list {
    padding: 60px 18px 0 20px;
  }

  body > label[for="hamburger"] {
    display: inline-block;
  }

  input[id="hamburger"]:checked ~ #sidebar {
    display: block;
  }

  input[id="hamburger"]:checked ~ label[for="hamburger"] {
    left: 270px;
  }
}
