@import url("whitespace-reset.css");
@import url("sidebar.css");
@import url("main.css");
@import url("forms.css");

* {
  box-sizing: border-box;
}

html, body {
  font: normal 16px Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 1200px;
  height: 818px;
  color: #b2b5c3;
}

h1 {
  font-size: 21px;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  html, body {
    min-width: 480px;
  }

  header {
    display: none;
  }

  body > label[for="panel-toggle"] {
    display: inline-block;
  }

  body > input[id="panel-toggle"]:checked + header {
    display: block;
    cursor: pointer;
  }

  main {
    padding-top: 18px;
  }
}
