@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

html, body {
  font: 100 16px Helvetica, Arial, sans-serif;
  max-width: 1200px;
  height: 818px;
  color: #2c2c2c;
  letter-spacing: 1px;
}

h1 {
  font-size: 21px;
  font-weight: 100;
}

header {
  float: left;
  width: 335px;
  height: 100%;
  background: #464f77;
  text-align: center;
}

header div.todos h2,
header div.completed h2 {
  font-weight: 100;
  color: #ffffff;
  vertical-align: middle;
  padding-bottom: 10px;
}

header h2 img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

div.todos a {
  text-decoration: none;
}

div.todos,
div.completed {
  padding-top: 62px;
}

div.completed li * {
  text-decoration: line-through;
}

.selected {
  background: #383f5f;
}

.selected * {
  color: #ffffff;
}

header li {
  padding: 11px 0;
  cursor: pointer;
}

header li * {
  color: #b2b5c3;
}

header span {
  position: relative;
  right: 30px;
  display: inline-block;
  float: right;

  color: #b2b5c3;
  text-align: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background: #6b7292;
  border: 1px solid #6b7292;
  border-radius: 50%;
}

.selected span {
  background: #1984c5;
  border: 1px solid #1984c5;
}

main {
  overflow: hidden;
}

main img {
  padding: 20px 30px 30px 30px;
}

main h1 {
  padding: 0 30px 40px 30px;
}

main h1 span {
  display: inline-block;
  position: relative;
  left: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background: #1984c5;
  border: 1px solid #1984c5;
  border-radius: 50%;
  vertical-align: middle;
}

main div#header label,
main li:hover {
  color: #3498d8;
}

main ul {
  padding: 0 100px 18px 20px;
}

main li {
  border-top: 1px solid #e7e7e7;
  padding: 18px 0;
  cursor: pointer;
}

main label {
  padding-left: 12px;
}

#add_todo {
  display: inline-block;
  padding-left: 30px;
  padding-bottom: 16px;
}

div#add_todo input[type="submit"] {
  background: url("images/plus_icon.png");
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: none;
}

main input:checked + label{
  color: #b9b9b9;
  text-decoration: line-through;
}