@import url("whitespace-reset.css");

* {
  box-sizing: border-box;
}

body {
  font: 100 16px Helvetica, Arial, sans-serif;
  max-width: 1200px;
  min-width: 480px;
  height: 818px;
  color: #2c2c2c;
  letter-spacing: 1px;
  z-index: 1;
}

h1 {
  font-size: 21px;
  font-weight: 100;
}

header {
  float: left;
  width: 335px;
  height: 100%;
  background: #464f77;
  text-align: center;
}

header div.todos h2,
header div.completed h2 {
  font-weight: 100;
  color: #ffffff;
  vertical-align: middle;
  padding-bottom: 10px;
}

header h2 img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

div.todos a {
  text-decoration: none;
}

div.todos,
div.completed {
  padding-top: 70px;
}

div.completed li * {
  text-decoration: line-through;
}

.selected {
  background: #383f5f;
}

.selected * {
  color: #ffffff;
}

header li {
  padding: 11px 0;
  cursor: pointer;
}

header li * {
  color: #b2b5c3;
}

header span {
  position: relative;
  right: 30px;
  display: inline-block;
  float: right;

  color: #b2b5c3;
  text-align: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background: #6b7292;
  border: 1px solid #6b7292;
  border-radius: 50%;
}

.selected span {
  background: #1984c5;
  border: 1px solid #1984c5;
}

main {
  width: auto;
  overflow: hidden;
  padding: 70px 100px 0 30px;
}

#nav-toggle {
  display: none;
}

body > label {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  background: transparent url("images/menu_icon.png") no-repeat;
  height: 24px;
  width: 24px;
  top: 20px;
  left: 30px;
}

main h1 {
  padding-bottom: 15px;
}

main h1 span {
  display: inline-block;
  position: relative;
  left: 20px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
  background: #1984c5;
  border: 1px solid #1984c5;
  border-radius: 50%;
  vertical-align: middle;
}

main button.new_todo {
  background: transparent url("images/plus_icon.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  border: none;
}

main div#header label,
main li:hover {
  color: #3498d8;
}

main li {
  border-top: 1px solid #e7e7e7;
  padding: 18px 0 18px 10px;
  cursor: pointer;
}

main label {
  padding-left: 12px;
}

main li form {
  display: inline-block;
}

main li form:last-child {
  float: right;
}

div.delete input[type="submit"],
div.new_todo input[type="submit"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
}

div.delete input[type="submit"] {
  background: transparent url("images/trash_bin.png") no-repeat;
}

div.new_todo input[type="submit"] {
  background: transparent url("images/plus_icon.png") no-repeat;
}

main input:checked + label{
  color: #b9b9b9;
  text-decoration: line-through;
}

main li:first-child {
  border: none;
  color: #3498d8;
}

main li:first-child form {
  float: none;
} 

.modal {
  display: none;
  width: 575px;
  height: 400px;
}

@media (max-width: 768px) {
  header {
    display: none;
  }

  body > label {
    display: block;
  }

  #nav-toggle:checked + header {
    display: block;
  }
}