@import url("whitespace-reset.css");

body {
  background-image: url("images/bg_body.gif");
  font: normal 20px Avenir, sans-serif;
  padding: 75px 0 0 0;
  color: #45494d;
}

header, .column {
  width: 1000px;
  margin: 0 auto;
}

header nav li {
  display: inline-block;
  padding: 0 42px;
  font: normal 26px Avenir, sans-serif;
}

nav {
  padding: 0 0 50px 0;
}

header nav li a {
  text-decoration: none;
  color: #cacaca;
}

header, main, footer {
  text-align: center;
}

header h1 {
  
}

article {
  padding: 0 110px 100px 110px;
}

article p {
  text-align: justify;
}

article img {
  display: block;
  width: 100%;
}

article figure {
  padding: 0 30px 20px 30px;
  margin: 0;
}

h1 {
  padding: 0 0 75px 0;
}

h2 {
  padding:0 0 40px 0;
  font-size: 36px;
}

h3 {
  font-size: 24px;
  color: #3e59b2;
  padding: 0 0 30px 0;
}

main {
  padding: 100px 0 0 0;
  background-color: white;
}

footer {
  background-color: #e7e7e7;
  color: #b2b2b2;
  padding: 75px 0;
}

footer li {
  display: inline-block;
  padding: 0 65px;
}

footer p {
  padding: 0 0 40px 0;
}

footer a:before {
  display: inline-block;
  content: "";
  height: 46px;
  width: 46px;
  background: url("images/icons_social-media.png") 0 0 no-repeat;
}

footer a.facebook:before {
  background-position: 0 -46px;
}

footer a.email:before {
  background-position: 0 -92px;
}

footer a.instagram:before {
  background-position: 0 100%;
}

.current {
  font-weight: bold;
  color: #6db9ff;
}

article li {
  display: inline-block;
  font-size: 24px;
  padding: 0 30px;
  color: #3e59b2;
}

article img {
  display: block;
  margin: 0 0 20px 0;
}

#team p {
  padding: 0 110px 100px 110px;
}

#team article {
  padding: 0 0 100px 0;
}
