@import url("whitespace-reset.css");

* { box-sizing: border-box; }

html, body {
  font: normal 18px Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 1200px;
  height: 818px;
  color: #b2b5c3;
}

h1 {
  font-size: 21px;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

#sidebar {
  width: 335px;
  height: 100%;
  float: left;
  background: #464f77;
  padding-top: 60px;
}

#sidebar h2 {
  font-weight: inherit;
  color: #ffffff;
}

#sidebar h2,
#sidebar li {
  position: relative;
  display: table;
  text-align: center;
  height: 40px;
  width: 100%;
}

#sidebar a,
#sidebar h2 img { vertical-align: middle; }

#sidebar a { display: table-cell; }

#sidebar h2 img { padding-right: 10px; }

#sidebar .selected {
  background: #383f5f;
  color: #ffffff;
}

#sidebar span {
  display: table-cell;
  position: absolute;
  text-align: center;
  right: 35px;
  top: 10px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background: #6b7292;
  color: #b2b5c3;
  font-size: 14px;
}

#sidebar .selected span {
  background: #148fd5;
  border: 1px solid #148fd5;
  color: #ffffff;
}

#completed li { text-decoration: line-through; }

main {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  color: #050505;
  padding: 60px 100px 0 20px;
}

main header { padding: 0 0 16px 16px; }

main header h1 {
  padding-top: 8px;
  padding-bottom: 17px;
}

main header h1 span {
  position: relative;
  display: inline-block;
  left: 18px;
  bottom: 2px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background: #148fd5;
  border-radius: 50%;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

#add-todo img {
  padding-right: 18px;
}

.todo-item {
  width: 100%;
  padding: 16px;
  border-top: 1px solid #e7e7e7;
}

.todo-item label {
  padding-left: 10px;
  cursor: pointer;
}

span.mycheckbox {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background: transparent url("../images/unchecked-box.png") no-repeat;
}

main input[type="checkbox"]:checked + span.mycheckbox {
  background: transparent url("../images/checked-box.png") no-repeat;
}

main input[type="checkbox"]:checked ~ label {
  color: #cecece;
  text-decoration: line-through;
}

main li label:hover {
  color: #3498d8;
}

.todo-item .delete {
  float: right;
}

main li button span,
main input[type="checkbox"]  {
  display: none;
}

main header img {
  padding-right: 8px;
}

main header a {
  padding-left: 0;
  color: #148fd5;
}

main header h1 {
  padding-bottom: 40px;
}

#modal {
  display: none;
}

#modal:after {
  position: fixed;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#new-todo {
  font-size: 16px;
  position: absolute;
  top: 107px;
  left: 105px;
  width: 575px;
  height: 400px;
  padding-left: 30px;
  padding-top: 36px;
  padding-right: 40px;
  background: #ffffff;
  border: 1px solid #ffffff;
  z-index: 3;
}

#new-todo dl {
  margin-bottom: 24px;
}

#new-todo dt,
#new-todo dd {
  display: inline-block;
}

#new-todo dt {
  width: 90px;
  height: 36px;
  text-align: left;
  vertical-align: top;
  padding-top: 10px;
  margin: 0;
  padding-left: 0;
}

#new-todo label {
  font-weight: 400;
  color: #060606;
  padding: 0;
}

#new-todo input,
#new-todo textarea {
  font-size: 16px;
  border: 1px solid #b3b3b3;
}

#new-todo button,
#new-todo input[type='submit'] {
  width: 182px;
  height: 34px;
  font-size: 16px;
  background: #148fd5;
  color: #ffffff;
  border: 1px solid #148fd5;
  border-radius: 4px;
  margin-right: 18px;
}

#new-todo textarea {
  font: normal 16px Helvetica, Arial, sans-serif;
  resize: none;
  width: 396px;
  height: 144px;
  padding: 8px;
}

#new-todo input[id="title"] {
  width: 396px;
  height: 36px;
  padding: 8px;
}

#new-todo input[id="due-date"] {
  width: 116px;
  height: 36px;
  padding: 8px;
}

#new-todo span {
  display: inline-block;
  width: 13px;
  text-align: center;
}

body > label {
  display: none;
  padding-top: 20px;
  padding-left: 30px;
}

body > input[id="panel-toggle"] {
  display: none;
}

body > label {
  cursor: pointer;
}

@media (max-width: 768px) {
  html, body {
    min-width: 480px;
  }

  #sidebar {
    display: none;
  }

  body > label[for="panel-toggle"] {
    display: inline-block;
  }

  body > input[id="panel-toggle"]:checked + #sidebar {
    display: block;
    cursor: pointer;
  }

  main {
    padding-top: 18px;
  }
}
